@import 'variables';
@import 'mixins';
// Import custom SASS variable overrides
// @import 'custom_bootstrap.scss';
// Import Bootstrap and BootstrapVue source SCSS files
// @import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700,900&display=swap&subset=latin-ext');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif !important;
  background-color: $bgcbody;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
p,
li {
  font-size: 1rem;
  padding: 0.6rem;

  @include mq(xsmall) {
    padding: 0.7rem;
    font-size: 1.1rem;
  }
  @include mq(small) {
    padding: 0.7rem;
    font-size: 1.1rem;
  }
  @include mq(medium) {
    padding: 0.7rem;
    font-size: 1.3rem;
  }
  @include mq(large) {
    padding: 0.7rem;
    font-size: 1.7rem;
  }
  @include mq(xlarge) {
    padding: 0.7rem;
    font-size: 1.8rem;
  }
  @include mq(xxlarge) {
    padding: 0.7rem;
    font-size: 1.9rem;
  }
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.7rem;
  text-align: center;

  @include mq(xxsmall) {
    padding: 0.9rem;
    font-size: 1.4rem;
  }
  @include mq(xsmall) {
    padding: 1.1rem;
    font-size: 1.5rem;
  }
  @include mq(small) {
    padding: 1.3rem;
    font-size: 1.8rem;
  }
  @include mq(medium) {
    padding: 1.5rem;
    font-size: 2rem;
  }
  @include mq(large) {
    padding: 1.7rem;
    font-size: 2.2rem;
  }
  @include mq(xlarge) {
    padding: 1.3rem;
    font-size: 2.4rem;
  }
  @include mq(xxlarge) {
    padding: 1.5rem;
    font-size: 2.6rem;
  }
}
h2 {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4em;

  @include mq(medium) {
    padding: 0.6em;
    font-size: 1.3em;
  }
  @include mq(large) {
    padding: 0.7em;
    font-size: 1.4em;
  }

  @include mq(xxlarge) {
    padding: 0.9em;
    font-size: 1.6em;
  }
}
