@import 'variables';
@import 'mixins';
// Import custom SASS variable overrides
// @import 'custom_bootstrap.scss';
// Import Bootstrap and BootstrapVue source SCSS files
// @import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700,900&display=swap&subset=latin-ext');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
