@import 'variables';
@import 'mixins';
// Import custom SASS variable overrides
// @import 'custom_bootstrap.scss';
// Import Bootstrap and BootstrapVue source SCSS files
// @import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700,900&display=swap&subset=latin-ext');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 0;

  @include mq(medium) {
    padding: 0.7em;
    font-size: 1.4em;
  }
  @include mq(large) {
    padding: 0.8em;
    font-size: 1.6em;
  }

  @include mq(xxlarge) {
    padding: 1em;
    font-size: 1.7em;
  }
}
h2 {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4em 0;

  @include mq(medium) {
    padding: 0.6em;
    font-size: 1.3em;
  }
  @include mq(large) {
    padding: 0.7em;
    font-size: 1.4em;
  }

  @include mq(xxlarge) {
    padding: 0.9em;
    font-size: 1.6em;
  }
}
